.jumbotronhead{
    margin-top: 25px;
    background-color: gray;
    height: 280px;
    margin-bottom: 25px;
}

.head{
    text-align: left;
    padding-top: 40px;
    padding-left: 10px;

}

.lorem{
    padding-top: 15px;
    padding-bottom: 10px;

}
.cardbody{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border-color: aquamarine;
    height: 400px;
    background-color: white;
    border-width: 1000px;
}